@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  html h3.heading {
    text-shadow: #2b2b2b 0.4rem 0px 0px;
  }
  html:not(.dark) h3.heading {
    text-shadow: #b3b3b3 0.3rem 0px 0px;
  }

  body {
    @apply dark:bg-gray-800 bg-white;
  }
}
